/* Styles for the game board container */
.board {
    display: grid;
    grid-template-columns: repeat(10, 35px);
    grid-template-rows: repeat(10, 35px);
    gap: 2px;
    justify-content: center;
    margin-top: 10px;
  }

  /* Styles for individual cells on the board */
  .cell {
    width: 34px;
    height: 34px;
    background-color: #a4adf0;
    border: 1px solid #000029;
    cursor: pointer;
  }

  /* Styles for a cell when the mouse hovers over it */
  .cell:hover {
    background-color: #8591e9;
  }

  /* Styles for a cell occupied by a ship */
  .ship {
    background-color: #0e2583 !important;
  }

  /* Styles for a cell that has been hit (enemy ship) */
  .hit {
    background-color: rgb(186, 40, 7) !important;
  }

  /* Styles for a cell on the player's own board that has been hit */
  .hitonme {
    background-color: #a4adf0;
  }

  /* Styles for a cell that has been missed */
  .miss {
    background-color: lightgray !important;
  }
